<a href="https://colab.research.google.com/github/d0k7/R-Programming-Language-Lab-Code/blob/main/R_LAB_UNIT_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1) Create a list that contains, in this order, a sequence of 20 evenly spaced numbers between -4 and 4; a 3 X 3 matrix of the logical vector c(F,T,T,T,F,T,T,F,F)
#    filled column-wise; a character vector with the two strings "don"	and	"quixote";	and	a	factor	vector	containing	the	observations c("LOW","MED","LOW","MED","MED","HIGH").
#    Then, Extract row elements 2 and 1 of columns 2 and 3, in that order, of the logical matrix.




# Create a list with different components
my_list <- list(
  seq(-4, 4, length.out = 20),
  matrix(c(F, T, T, T, F, T, T, F, F), nrow = 3, ncol = 3, byrow = TRUE),
  c("don", "quixote"),
  factor(c("LOW", "MED", "LOW", "MED", "MED", "HIGH"))
)

# Extract row elements 2 and 1 of columns 2 and 3 of the logical matrix
extracted_elements <- my_list[[2]][c(2, 1), c(2, 3)]
print(extracted_elements)

      [,1] [,2]
[1,] FALSE TRUE
[2,]  TRUE TRUE

In [2]:
#Q2) Create and store this data frame as d frame with the fiiels of person, sex, funny in your R work space. Append the two new records.




# Create the data frame with fields person, sex, and funny
d_frame <- data.frame(
  person = c("Alice", "Bob"),
  sex = c("female", "male"),
  funny = c("Med", "High"),
  stringsAsFactors = FALSE
)

# Append two new records
new_records <- data.frame(
  person = c("Charlie", "David"),
  sex = c("male", "male"),
  funny = c("Low", "High"),
  stringsAsFactors = FALSE
)

d_frame <- rbind(d_frame, new_records)
print(d_frame)

   person    sex funny
1   Alice female   Med
2     Bob   male  High
3 Charlie   male   Low
4   David   male  High

In [3]:
#Q3) Write a single line of code that will extract from my data frame just the names and ages of any records where the individual is female and has
#    a level of funniness equal to Med OR High.




# Extract names and ages of records for females with funniness level Med or High
female_records <- d_frame[d_frame$sex == "female" & (d_frame$funny == "Med" | d_frame$funny == "High"), c("person", "funny")]
print(female_records)

  person funny
1  Alice   Med

In [4]:
#Q4) Use your knowledge of handling character strings in R to extract all records from my data frame that correspond to people whose names start with S.




# Extract records for people whose names start with "S"
names_starting_with_S <- d_frame[grepl("^S", d_frame$person), ]
print(names_starting_with_S)

[1] person sex    funny
<0 rows> (or 0-length row.names)